
<div class="modal-header" id="modal-body">
	<uib-tabset active="activeJustified" justified="true">
	    <uib-tab index="0" heading="Celda">
	    <div class="container">

	    	<div class="row">
	    	<div class="panel panel-default">
	    	<div class="panel-heading"><strong>Celda</strong></div>
	    		<div class="panel-body">
	  				<div class="col-md-4">
						<p><strong>Azimut magnetico</strong></p>
						<ul class="list-group" ng-repeat="az in modal.row.az">
							<li class="list-group-item">{{az.valor}}°</li>
						</ul>
					</div>
					<div class="col-md-4">
						<p><strong>Tilt electrico</strong></p>
						<ul class="list-group" ng-repeat="te in modal.row.te">
							<li class="list-group-item">{{te.valor}}°</li>
						</ul>
					</div>
					<div class="col-md-4">
						<p><strong>Tilt mecanico</strong></p>
						<ul class="list-group" ng-repeat="tm in modal.row.tm">
							<li class="list-group-item">{{tm.valor}}°</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			</div>


	    </uib-tab>
	    <uib-tab index="1" heading="Antena">Short Labeled Justified content</uib-tab>
	    <uib-tab index="2" heading="Estación">Long Labeled Justified content</uib-tab>
	</uib-tabset>
</div>